<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div
    class="p-5 bg-image"
    style="
      background-image: url(https://mdbootstrap.com/img/new/textures/full/171.jpg);
      height: 200px;
    "
  ></div>

  <!-- Background image -->

  <div
    class="card mx-4 mx-md-5 shadow-5-strong"
    style="
      margin-top: -100px;
      background: hsla(0, 0%, 100%, 0.8);
      backdrop-filter: blur(30px);
    "
  >
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h1 class="fw-bold mb-5">
            <strong>Modifier Véhicule <i class="fas fa-car"></i></strong>
          </h1>
          <form [formGroup]="vehiculesFormGroup">
            <div class="form-row">
              <div class="col-md-6 mb-6">
                <label for="exampleInputmatricule" class="form-label"
                  >Matricule
                </label>
                <input
                  type="text"
                  formControlName="matricule"
                  class="form-control"
                  id="exampleInputmatricule"
                  aria-describedby="matriculeHelp"
                  placeholder="Entre le matricule"disabled
                />
              </div>
              <div class="col-md-6 mb-6">
                <label for="exampleInputcinUtilisateur" class="form-label"
                  >Cin Utilistaeur
                </label>
                <select
                  name="cinUtilisateur"
                  id="cinUtilisateur-select"
                  formControlName="cinUtilisateur"
                  type="text"
                  formControlName="cinUtilisateur"
                  class="form-control"
                  id="exampleInputcinUtilisateur"
                  aria-describedby="cinUtilisateurHelp"disabled
                >
                  <option *ngFor="let cin of listCinCollab" [value]="cin.id">
                    {{ cin.cin }}
                  </option>
                </select>
              </div>
              <div class="col-md-6 mb-6">
                <label for="exampleInputmarque" class="form-label"
                  >Marque</label
                >
                <input
                  type="text"
                  formControlName="marque"
                  class="form-control"
                  id="exampleInputmarque"
                  aria-describedby="marqueHelp"
                  placeholder="Entre la marque"
                />
              </div>
              <div class="col-md-6 mb-6">
                <label for="exampleInputmodel" class="form-label">Model</label>
                <input
                  type="text"
                  formControlName="model"
                  class="form-control"
                  id="exampleInputmodel"
                  aria-describedby="modelHelp"
                  placeholder="Entre la model"
                />
              </div>
              <div class="col-md-6 mb-6">
                <label for="exampleInputftype" class="form-label">Type </label>
                <select
                  name="type"
                  id="type-select"
                  formControlName="type"
                  type="text"
                  formControlName="type"
                  class="form-control"
                  id="exampleInputtype"
                  aria-describedby="typeHelp"
                >
                  <option value="">--choisir un type de véhicule--</option>
                  <option value="Crossover">Crossover</option>
                  <option value="Berline ">Berline</option>
                  <option value="Coupé">Coupé</option>
                  <option value="Berline">Berline</option>
                  <option value="Hayon">Hayon</option>
                  <option value="Break">Break</option>
                  <option value="Limousine ">Limousine</option>
                  <option value="Pick-up">Pick-up</option>
                  <option value="Fourgonnette">Fourgonnette</option>
                  <option value="Minibus">Minibus</option>
                  <option value="Liftback">Liftback</option>
                  <option value="SUV">SUV</option>
                </select>
              </div>
              <div class="col-md-6 mb-6">
                <label for="exampleInputphoto" class="form-label">Photo </label>
                <input
                  type="file"
                  formControlName="photo"
                  class="form-control form-control"
                  id="exampleInputphoto "
                  aria-describedby="photo Help"
                  placeholder="Entre la photo "
                  name="photo"
                  accept="image/*"
                  (change)="picked($event, 1)"
                />
                <br />
                <div>
                  <img
                    [src]="previewUrl"
                    height="100"
                    *ngIf="previewUrl"
                    alt="photo profil"
                  />
                </div>
              </div>
              
            </div>
            <div class="col-md-12 mb-12">
              <button
                type="button"
                class="btn btn-lg btn-primary"
                style="background-color: #1e2957"
                (click)="updateVehicule()"
              >
                MODIFIER</button
              >&nbsp;
              <button
                type="button"
                class="btn btn-lg btn-danger"
                style="background-color: #a51623"
                (click)="quitteVehicule()"
              >
                ANNULER
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
