
<!-- Background image -->
<div class="p-5 bg-image" style="background-image: url(https://images.unsplash.com/photo-1613206485381-b028e578e791?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470);
height: 650px;
">
<h1>
    <br>
    <br>
    <br>
    <br>
    <div class="title" style="color: #fff; text-align: center; font-size: 80px;" >
        Bienvenue dans notre atelier de réparation automobiles
<p>
(Gestion Garage)</p></div></h1>
</div>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
     
    </head>
  
    <body>
      <input type="checkbox" id="active">
      <label for="active" class="menu-btn"><span></span></label>
      <label for="active" class="close"></label>
      <div class="wrapper">
        <ul>
  <li><a href="reparation">Espace&nbsp;Home</a></li>
  <li><a href="vehicule">Espace&nbsp;Véhicules&nbsp;d'Utilisateur</a></li>
  <li><a href="maintenance">Espace&nbsp;Maintenance</a></li>
  <li><a href="magasin">Quitter</a></li>
  </ul>
  </div>
  
  
  
  </body>
  
  