 <!-- Background image -->
 <div class="p-5 bg-image" style="background-image: url(https://images.unsplash.com/photo-1613206485381-b028e578e791?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470);
 height: 650px;
 "></div>
 
<!-- Background image -->

  <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
  <label for="menu-icon"></label>
  <nav class="nav"> 		
      <ul class="pt-5">
          <li><a href="stock">Gestion&nbsp;Stock</a></li>
          <li><a href="diagnostic">Gestion&nbsp;Diagnostic</a></li>
          <li><a href="reparation">Gestion&nbsp;Réparation</a></li>
          <li><a href="menu">Quitter</a></li>
      </ul>
  </nav>

  <div class="section-center">
      <h1 class="mb-0">Gestion Atelier</h1>
      <h3 class="mb-0">Un atelier de réparation automobile utilisé pour ranger une ou plusieurs voitures. <br>
      Une gestion global sur le stock des  pièces ainsi que 
      les  diagnostics au niveau du garage.</h3>
      
  </div>