<main class="site-wrapper">
    <div class="pt-table desktop-768">
        <div class="pt-tablecell page-home relative" style="background-image: url(./assets/img/menu.png);
          background-position: center;
          background-size: cover;">
            <div class="overlay"></div>
            <a class="nav-link text-right text-white"style="margin-top: 0px;" href="">
                <div>
                    <i class="fas fa-share-square">Quitter</i>
                </div>
              </a>
            <div class="container">
                <div class="row">    
                    <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-9">
                        <div class="page-title  home text-center"style="margin-top: 0px;">
                            <span class="heading-page">Bienvenue Espace Garage
                            </span>
                        </div> 
                        <div style="margin-left: 50px;margin-top: 0px;">
                            <div class="hexagon-menu clear">
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a class="hex-content" [routerLink]="['/backoffice/utilisateur']">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="fas fa-user-cog"></i>
                                            </span>
                                            <span class="title">Utilisateur</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                                fill="#3a8f99"></path>
                                        </svg>
                                    </a>
                                </div>
                                
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a class="hex-content" [routerLink]="['/backoffice/employe']">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="fas fa-user-tie"></i>
                                            </span>
                                            <span class="title">Employé</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                                fill="#3a8f99"></path>
                                        </svg>
                                    </a>
                                </div>
                                
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a class="hex-content" [routerLink]="['/backoffice/rendez-vous']">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="fas fa-calendar-alt"></i>
                                            </span>
                                            <span class="title">Rendez-vous</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                                fill="#3a8f99"></path>
                                        </svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a class="hex-content" [routerLink]="['/backoffice/magasin']">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="fab fa-whmcs"></i>
                                            </span>
                                            <span class="title">Atelier</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                                fill="#3a8f99"></path>
                                        </svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a class="hex-content" [routerLink]="['/backoffice/tache']">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="fas fa-tasks"></i>
                                            </span>
                                            <span class="title">Taches</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                                fill="#3a8f99"></path>
                                        </svg>
                                    </a>
                                </div>
                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a class="hex-content" [routerLink]="['/backoffice/facture']">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="fas fa-file-contract"></i>
                                            </span>
                                            <span class="title">Facture</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                                fill="#3a8f99"></path>
                                        </svg>
                                    </a>
                                </div>

                                <div class="hexagon-item">
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="hex-item">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <a class="hex-content" [routerLink]="['/backoffice/notifications']">
                                        <span class="hex-content-inner">
                                            <span class="icon">
                                                <i class="far fa-comments"></i>
                                            </span>
                                            <span class="title"> notifications</span>
                                        </span>
                                        <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                                fill="#3a8f99">
                                            </path>
                                        </svg>
                                    </a>
                                   
                                </div>
   
  
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>