<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div
      class="p-5 bg-image"
      style="
        background-image: url(https://mdbootstrap.com/img/new/textures/full/171.jpg);
        height: 200px;
      "
    ></div>
  
    <!-- Background image -->
  
    <div
      class="card mx-4 mx-md-5 shadow-5-strong"
      style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);">
      <div class="card-body py-5 px-md-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h1 class="fw-bold mb-5">
              <strong>Modifier Facture <i class="fas fa-file-signature"></i></strong>
            </h1>
            <form [formGroup]="FactureFormGroup">
              <div class="form-row">
                <div class="col-md-6 mb-6">
                  <label for="exampleInputreference" class="form-label"
                    >Référence
                  </label>
                  <input
                    type="text"
                    formControlName="reference"
                    class="form-control"
                    id="exampleInputreference"
                    aria-describedby="referenceHelp"
                    placeholder="Entre la reference"
                  />
                </div>
                <div class="col-md-6 mb-6">
                  <label for="exampleInputreferencemaintenance" class="form-label"
                    >Référence Maintenence
                  </label>
                  <select
                    name="referencemaintenance"
                    id="referencemaintenance-select"
                    type="text"
                    formControlName="referenceMaintenence"
                    class="form-control"
                    id="exampleInputreferencemaintenance"
                    aria-describedby="referencemaintenanceHelp"
                  ><option value="">--choisir référence maintenance--</option>
                    <option
                      *ngFor="let reference of listrefCollab"
                      [value]=" reference.reference "
                    >
                      {{ reference.reference }}
                    </option>
                  </select>
                </div>
                <div class="col-md-6 mb-6">
                  <label for="exampleInputdate" class="form-label">Date Facture</label>
                  <input
                    type="date"
                    formControlName="date"
                    class="form-control"
                    id="exampleInputdate"
                    aria-describedby="dateHelp"
                    placeholder="Entre date facture"
                  />
                </div>
                <div class="col-md-6 mb-6">
                  <label for="exampleInputmontant" class="form-label"
                    >Montant /DH
                  </label>
                  <input
                    name="montant"
                    id="montant-select"
                    formControlName="montant"
                    type="text"
                    formControlName="montant"
                    class="form-control"
                    id="exampleInputmontant"
                    aria-describedby="montantHelp"
                    placeholder="Entre le montant de cette facture"
                  >
                </div>
              </div>
              <br />
              <div class="col-md-12 mb-12">
                <button
                  type="button"
                  class="btn btn-lg btn-primary"
                  style="background-color: #1e2957"
                  (click)="modifierFacture()"
                >
                  Modifier</button
                >&nbsp;
                <button
                  type="button"
                  class="btn btn-lg btn-danger"
                  style="background-color: #a51623"
                  (click)="quitteFacture()"
                >
                  ANNULER
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
  

